h3{
    text-decoration: underline;
    margin-left:-1100px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 0 10px;
    height: 5rem;
}


.profile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* רקע שחור עם שקיפות */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* ודא שהשכבה מעל כל שאר האלמנטים */
}

.profile-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.profile-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.p-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.p-menuitem-link {
    height: 3.9rem;
}

.tab-menu-left,
.tab-menu-right {
    display: none;
}

.hamburger {
    display: none;
}


@media (max-width: 700px) {

    .tab-menu-left,
    .tab-menu-right {
        display: flex;
    }

    .header-container {
        display: none;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1000;
    }
}



.card {
    display: flex;
}

.tab-menu-right {
    margin-left: auto;
}

.homepage-background {
    background-image: url('../../Images/backgroundHomePage.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

    @media (max-width: 600px) {
        background-image: url('../../Images/backgroundHomePageApplication.png');
        /* תמונה למסכים קטנים יותר */
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
}

/* .company-logo1{
    background-image: url('client\src\Images\nvidia.png');
} */
.last-surveys-container {
    margin: 20px;
    text-align: center;
    min-height: 350px;
}

.last-surveys {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.survey-item {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
}

.contact-us-container {
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 99%;
}


.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.close-button1 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* AboutUs.css */

.about-us-container {
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 99%;
}

.about-us-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-us-container p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.testimonials {
    margin-top: 40px;
}

.testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.company-logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.testimonial-content h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.testimonial-content p {
    margin: 5px 0 0 0;
    font-size: 1rem;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links li a {


    color: white;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}