.last-surveys-container {
    background-image: url('C:\Users\PC\Desktop\Survey_Project\Client\src\Images\Black Doodle Group Project Presentation (9).png');
    background-size: cover;
    background-position: center;
    width: 99%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    min-height: 350px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.last-surveys {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    
}

.survey-item {
    width: calc(33.33% - 20px); /* עבור מסך גדול יותר */
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .survey-item {
        width: calc(50% - 20px); /* עבור מסך בינוני */
    }
}

@media (max-width: 576px) {
    .survey-item {
        width: 100%; /* עבור מסך קטן */
    }
}
